*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 20px;
}

a{
    color:rgb(96, 34, 238);
}

body{
    width: 1200px;
    margin: 0 auto;
    border: 5px hidden #000;
    background-image: url(https://i.pinimg.com/originals/77/42/0d/77420df3f9e33db5b79ee25455d3340e.png);
}

h1{
    font-size: 50px;
    color:rgb(255, 255, 255);
    text-align: center; 
}

.titulo1{
    text-align: center;
    color: rgb(255, 255, 255);
}

h2{
    color: rgb(255, 0, 0);
}

.titulo2{
    text-align: center;
    color: rgb(255, 0, 0);
    text-decoration: underline;
}

nav{
    background-image: url(https://i.pinimg.com/originals/77/42/0d/77420df3f9e33db5b79ee25455d3340e.png);
    height: 80px;
}

nav ul li{
    display: inline;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: #000;
    line-height: 80px;
    padding: 7px;
    margin:0 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #333;
    font-weight: bold;
}

nav ul li a:hover{
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    box-shadow: 0 0 0 #000;
}

div img{
    width: 500px;
}

.imgCenter{
    text-align: center;
}

p{
    color:rgb(255, 255, 255);
}

footer{
    margin: 0;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

.disc img{
    width: 200px;
}

.disc li{
    margin: 20px 65px 20px 47px;
    list-style: none;
    text-align: center;
}

.clear{
    clear: both;
}

.flotante{
    float: left;
    width: 50%;
    margin-top: 20px;
}

.discos{
    float: left;
}

.discos a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.discos a:hover{
    color: #ac92f5;
}